<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
	<iframe title="Exam Proctoring System" width="1340" height="600.25" src="https://app.powerbi.com/reportEmbed?reportId=d618758b-8d0d-4414-b9c7-735766190227&autoAuth=true&ctid=79454428-4dbe-401a-b2ab-64a5a7069e2b" frameborder="0" allowFullScreen="true"></iframe>
</div>